##software configuration ##
samtools=/volumes/seq/code/3rd_party/samtools-1.2/samtools
bowtie=/volumes/seq/code/3rd_party/bowtie2-2.2.6/bowtie2
sambamba=/volumes/seq/code/3rd_party/git/sambamaba_v0.8.0/sambamba-0.8.0-linux-amd64-static
R=/usr/bin/R
Rscript=/usr/bin/Rscript
perl=/usr/bin/perl
parallel=/usr/local/bin/parallel

####database configuration###

bowtie_hg19=/volumes/seq/code/3rd_party/bowtie2-2.2.6/hg19
chrominfo=./hg19.chromInfo.cumsum.txt
genome_len=/volumes/seq/code/3rd_party/bowtie2-2.2.6/hg19/hg19.fa.fai

bins_100k=./bin.boundaries.100k.bowtie.k50.sorted.bin_not_removed.txt
bins_200k=./bin.boundaries.200k.bowtie.sorted.bin.txt
bins_300k=./bin.boundaries.300k.bowtie.k50.sorted.bin_not_removed_MH.txt
bins_400k=./bin.boundaries.400k.bowtie.k50.sorted.bin_not_removed.txt
bins_500k=./bin.boundaries.500k.bowtie.k50.sorted.bin_not_removed.txt
bins_1M=./bin.boundaries.1M.bowtie.k50.sorted.bin_not_removed.txt
bins_2M=./bin.boundaries.2M.bowtie.k50.sorted.bin_not_removed.txt
bins_5M=./bin.boundaries.5M.bowtie.k50.sorted.bin_not_removed.txt
bins_10M=./bin.boundaries.10M.bowtie.k50.sorted.bin_not_removed.txt

excluded_bin_100k=./100kb_excluded.txt
excluded_bin_200k=./200kb_with_a_chr6_region.excluded.txt
excluded_bin_300k=./300kb_excluded.txt
excluded_bin_400k=./400kb_excluded.txt
excluded_bin_500k=./500kb_excluded.txt
excluded_bin_1M=./1M_with_a_chr6_region.excluded.txt
excluded_bin_2M=./2M_with_a_chr6_region.excluded.txt
excluded_bin_5M=./5M_with_a_chr6_region.excluded.txt
excluded_bin_10M=./10M_with_a_chr6_region.excluded.txt

gc_100k=./varbin.gc.content.100k.bowtie.k50.hg19.bin_not_removed.txt
gc_200k=./varbin.gc.content.200k.bowtie.k50.hg19.bin_not_removed.txt
gc_300k=./varbin.gc.content.300k.bowtie.k50.hg19.bin_not_removed_MH.txt
gc_400k=./varbin.gc.content.400k.bowtie.k50.hg19.bin_not_removed.txt
gc_500k=./varbin.gc.content.500k.bowtie.k50.hg19.bin_not_removed.txt
gc_1M=./varbin.gc.content.1M.bowtie.k50.hg19.bin_not_removed.txt
gc_2M=./varbin.gc.content.2M.bowtie.k50.hg19.bin_not_removed.txt
gc_5M=./varbin.gc.content.5M.bowtie.k50.hg19.bin_not_removed.txt
gc_10M=./varbin.gc.content.10M.bowtie.k50.hg19.bin_not_removed.txt

varbin_python=../bin/varbin.sam.2.py
CNProcessingCentromeres=../bin/CNProcessingCentromeres_GC_Mergelevels_correction_RG.R
Mergelevels=../bin/Mergelevels.R
heatmap.3.R=../bin/heatmap.3.R
